@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0; 
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #101010;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(39, 36, 36);
}

.about {
height: 100%;
width: 100%;
position: relative;
}

.about_hello {
  height: 100%;
  font-size: 2rem;
  padding: 2rem 0 2rem 2rem;
  color: white;
}

.about_name {
  height: 100%;
  font-size: 6rem;
  padding: 2rem 0;
  text-align: center;
  color: white;
}

.about_intro {
  height: 100%;
  padding: 2rem 2rem 2rem 0;
  text-align: right;
  color: white;
}

.about_contact {
  height: 100%;
  padding: 0rem 0 2rem 2rem;
  text-align: left;
  color: white;
}

@media only screen and (min-width: 741px) {
  .about {
    width: 80%;
  }

  .about_hello {
    font-size: 3rem;
  }
  
  .about_name {
    font-size: 8rem;
  }

  .about_intro {
    font-size: 1.3rem;
  }

  .about_contact {
    font-size: 1.2rem;
  }
}
