.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-color {
  background-color: rgb(142, 166, 155);
  height: 100%;
}

.section-video {
  /* background-color: rgb(142, 166, 155); */
  height: 100%;
}



.section-video video {
  width: 75%; /* Will shrink image to 30% of its original width */
  height: auto;
}

video {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 1);
}

hr {
  /* color: black; */
  height: 1.5px;
  background: black;
  border: none;
}

/* .text{
  font: normal 1.25em "montserrat", serif;
  line-height: 1.5em;
}

textarea {
  resize: none;
} */

